@charset "UTF-8";
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

/* Reset styles */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  scroll-behavior: smooth;
}

html {
  background-color: #1b1b1b;
}

.new-task {
  width: 200px;
  height: 40px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 100px 0 20px 100px;
  border: none;
  transition: all 0.2s linear;
  background-color: #FFFFFF;
}

.new-task:hover {
  box-shadow: 0px 0px 15px 0px #FFFFFF;
  transition: all 0.2s linear;
}

.form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 100px;
  display: none;
  transition: all 0.2s linear;
}

.form div {
  margin-top: 8px;
  position: relative;
}

.form div input {
  width: 600px;
  height: 40px;
  border-radius: 32px;
  border: none;
  outline: none;
  padding: 12px;
  background-color: #FFFFFF;
}

.form div button {
  width: 400px;
  height: 40px;
  border-radius: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
  transition: all 0.3s linear;
  border: 2px solid transparent;
  margin: 16px auto 0 auto;
}

.form div button:hover {
  background-color: #999999;
  transition: all 0.3s linear;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.tasks-wrapper {
  width: 90%;
  height: auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
}

.tasks {
  margin: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #000000;
  width: 300px;
  height: 200px;
  background-color: #dadada;
  align-items: center;
}
.tasks:nth-child(1) {
  margin: 16px 0 16px 100px;
}

.tasks h2 {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 2px 0px #8a8a8a;
}

.tasks h2 svg {
  margin-right: 6px;
  position: relative;
  top: 2.3px;
}

.tasks p {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 2px 0px #8a8a8a;
}

.tasks p svg {
  margin-right: 6px;
  position: relative;
  top: 2.3px;
}

.error {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(158, 3, 3);
  margin: 16px 0 16px 100px;
  padding: 12px;
  border-radius: 8px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.error svg {
  margin-right: 4px;
  position: relative;
  top: 3px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #1b1b1b;
  box-shadow: 0px 0px 10px 0px rgba(66, 66, 66, 0.3215686275);
  z-index: 1;
  position: relative;
}

.navbar a img {
  width: 220px;
  height: 32px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 32px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.menu ul li a:hover {
  color: #FFFFFF;
  transition: all 0.2s linear;
}

.menu ul li a:hover ~ svg {
  color: #FFFFFF;
  transition: all 0.2s linear;
}

.menu ul li a svg {
  position: relative;
  top: 5px;
  margin-right: 8px;
  fill: #FFFFFF;
  transition: all 0.2s linear;
  cursor: pointer;
}

.menu ul li a svg:hover {
  fill: #FFFFFF;
  transition: all 0.2s linear;
}

.menu ul li a svg:hover ~ a {
  color: #FFFFFF;
  transition: all 0.2s linear;
}

.active {
  color: #FFFFFF !important;
  fill: #FFFFFF;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "", sans-serif;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reset {
  display: block;
}

.resert-m {
  display: none;
}/*# sourceMappingURL=style.css.map */